@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

.ant-select{
	color: white;
}
.ant-select-arrow{
	color: white;
}
.ant-select-selection:hover {
  background-color: gray;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
	background-color: #181a1b;
	border: none;
	border-bottom: 1px solid gray;
}
body{
	font-family: 'Poppins', sans-serif;
	background: #181a1b;
	font-size: 16px;
	color: white;
}

section{
	&:not(:first-of-type){
		margin-top: 100px;
	}
}

.container{
	margin: 0 auto;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.title{
	font-size: 40px;
	margin-bottom: 20px;
}

@media screen and (max-width: 1024px){
	.title{
		font-size: 35px;
	}
	section{
		min-height: 600px;
	}
}
@media screen and (max-width: 600px){
	.title{
		font-size: 30px;
	}
	section{
		min-height: 400px;
	}
}
