.price{

	&__title{
		margin-bottom: 10px;
		font-size: 25px;
		cursor: pointer;
		color: gray;
		transition: color .3s ease;

		&:hover{
			color: white;
		}
		&--active{
			color: white;
			border-bottom: 1px solid white;
		}
	}
	&__list{
		
		&-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 700px;
			border-bottom: 1px solid grey;
			margin-bottom: 5px;
			padding: 5px 0;
		}
	}
}