.price{

	&__title{
		margin-bottom: 15px;
		margin-top: 20px;
		font-size: 25px;
	}
	&__list{
		
		&-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 700px;
			border-bottom: 1px solid grey;
			margin-bottom: 5px;
			padding: 5px 0;
		}
	}
}