.contactUs{
	
	&__soc{
		max-width: 700px;
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		&-item{
			display: flex;
			align-items: center;
			img{
				height: 50px;
				margin-right: 20px;
			}
			&:not(:last-child){
				margin-right: 50px;
			}
		}
	}
	&__address{
		margin-top: 50px;
		h3{
			margin-bottom: 10px;
		}
		iframe{
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 1024px){
	.contactUs{
		&__address{
			iframe{
				width: 580px;
				height: 400px;
			}
		}
	}
}
@media screen and (max-width: 600px){
	.contactUs{
		&__soc{
			flex-direction: column;
			&-item{
				margin-bottom: 20px;
			}
		}
		&__address{
			iframe{
				width: 100%;
				height: 300px;
			}
		}
	}
}
