.container{
	justify-content: center;
}

.header {
	height: 100vh;
	&__title{
		font-size: 60px;
		margin-bottom: 15px;
	}
	&__desc{
		max-width: 700px;
		text-align: center;
	}
}

@media screen and (max-width: 1024px){
	.header {
		&__title{
			font-size: 40px;
			margin-bottom: 15px;
		}
	}
}
@media screen and (max-width: 600px){
	.header {
		&__title{
			font-size: 30px;
		}
		&__desc{
			padding: 0 5px;
		}
	}
}
